
body{
    background-color: black;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#40514E;
    font-size:1.2rem;
}
h1{
    margin-top:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    /* line-height: 2; */
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight:600;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-size: 1.5rem;
}
.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    /* padding: 10px; */

}
.bottom-container{
    background-color:#66BFBF;
    margin:0;
    padding:70px;
}
.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 600px;
    text-align:center;
}
.top-cloud{
    position: absolute;
    right: 600px;
    top: 50px;
    
}
.footer-link {
    color:#11999E;
    padding:30px;
    line-height:5;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6;
}
.btn {
    background: #66bfbf;
    background-image: -webkit-linear-gradient(top, #66bfbf, #28946c);
    background-image: -moz-linear-gradient(top, #66bfbf, #28946c);
    background-image: -ms-linear-gradient(top, #66bfbf, #28946c);
    background-image: -o-linear-gradient(top, #66bfbf, #28946c);
    background-image: linear-gradient(to bottom, #66bfbf, #28946c);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }
   
/* .prog{
    font-weight: normal;
} */
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align:left;
    padding: 20px;
}
.Laser{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.computer{
    width:25%;
    float:left;
    margin-right: 30px;
}
.dp{
    margin: 70px 0 0 0;
    width: 30%;
}
.bio{
    color: #40514E;
    width: 30%;
    text-align: center;
    margin: 0 auto 50px auto;
    
}
hr{
    border-style: dotted ;
    border-width: 7px 0 0 0;
    width: 3%;
    color:#C8C6C6;
    margin: auto;

}
.copyright{
    margin:0px;
    color : #EAF6F6;
    font-size: .85rem;
    padding: 20px;
}
.skills{
    padding-top:20px;
}
p{
    line-height: 2;
}
.contact-me{
    padding: 70px;
    width : 30%;
    margin: auto;
}
